*{
    margin: 0;
    padding:0 ; 
    box-sizing: border-box;
    font-family:arial ;
}
html{
    scroll-behavior: smooth;
}
body
{
    width:98.5svw ;
    min-height: 100vh;
    background-color: rgb(2,2,5);
    color: rgb(235,233,252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
}
::-webkit-scrollbar-track {
    background: rgba(187, 185, 188, 0.25);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(187, 185, 188, 0.25);
    border-radius: 5px;
    border: 2px solid rgba(187, 185, 188, 0.25);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(106, 113, 224);
}
.icon-bar {
    position: fixed;
    left: -250px;
    width: 250px; /* Adjust the width as needed */
    height: 100%; /* Full height */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding-top: 50px; /* Adjust padding to make space for buttons */
    transition: all .5s ease;
    margin-top: 85vh;
  }
  
  .icon-bar a {
    display: block;
    width: 100%; 
    height: 100%;/* Full width of the sidebar */
    padding: 25px ;
    padding-left: 40px;
    padding-top: 40px;
    border-top: 5px solid rgb(235,233,252);
    border-bottom: solid rgb(235,233,252) 5px;
    background-color:rgb(2,2,5);
    box-sizing: border-box;
    text-align: center;
    transition:  .4s ;
    color: rgb(235,233,252);
    font-size: 28px;
    text-decoration: none;
  }
  
  .icon-bar a:hover {
    background-color: rgb(255,175,255);
    padding-left: 50px;
  }
  
  .active a {
    color: rgb(187,185,188);
  }
  #check {
    display: none;
  }
  
  label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    /*color: white;
    padding: 10px 20px;
    font-size: 16px;*/ 
  }
  
  label #btn {
    display: none;
    top: 35px;
    left: 40px;
    font-size: 15px;
    color: white;
    padding: 6px 10px;
    transition: all .5s;
  }
  
  label #cancel {
    z-index: 1111;
    left: -155px;
    top: 20px;
    font-size: 10px;
    color: white;
    background-color: blueviolet;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .icon-bar
  {
    left:0;
  
  }
  #check:checked ~ label #btn
  {
    left:25px;
    opacity: 0;
    pointer-events: none;
  
  }
  #check:checked ~ label #cancel
  {
    left: 195px;
  }
  #check:checked ~ section
  {
    margin-left: 250px;
  }
  section
  {
    background: url(dash.html) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }
.navbar
{
    width: 96vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
}
.navelement
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navlogo
{
    width: 20vw;
    letter-spacing: 10px;
    align-content: center;
    justify-content: flex-start;
}
.navlinks
{
    display: grid;
    grid-template-columns:repeat(5, 8vw);
    justify-content: center;
    align-items: center;
    
}
.navicons
{
    width: 20vw;
    justify-content: end;
    display: grid;
    grid-template-columns:50px 50px ;
    font-size: 25px;
}
.link{
    align-items: center;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.link a{
	color: #ffffff;
	text-decoration: none;
}
.active a
{
   color: #6a71e0;
}
.dash
{
    width: 96vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 22.5vw);
    grid-gap: 2vw;
    grid-template-rows: repeat(2, 22.5vw);
}
.attendance{
    width: 96vw;
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(4, 22.5vw);
    grid-gap: 2vw;
    grid-template-rows: repeat(3, 22.5vw);
}
.curriculum
{
    width: 96vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 22.5vw);
    grid-gap: 2vw;
    grid-template-rows: repeat(2, 22.5vw);
}
.schedule{
    width: 96vw;
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(4, 22.5vw);
    grid-gap: 2vw;
    grid-template-rows: repeat(3, 22.5vw);
}
.marks{
    width: 96vw;
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(4, 22.5vw);
    grid-gap: 2vw;
    grid-template-rows: repeat(3, 22.5vw);
}
.tile{
    padding: 1.5vw;
    border:1px solid rgb(36, 36, 36); 
    border-radius: 12px;
    background-color: rgb(17,17,17);
    box-shadow: 0.2vw 0.2vh 10px rgb(83, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    letter-spacing: 0.2vw;
}
.title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.cspan3
{
    grid-column: span 3;
}
.rspan2
{
    grid-row: span 2;
}
.rspan3{
    grid-row: span 3;
}
.cspan2
{
    grid-column: span 2;  
}
 .more
{
    text-decoration: none;
    color: #EE37C5;
    display: flex;
} 
.radialChart
{
    height: 18vw;
    width: 18vw;
}
/* #verticalChart
{
    height: 18vw;
    width: 3vw;
    color: azure;
} */
.content{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content2{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content3{
    width: 80%;
    height: 85%;
    padding: 2vh;
    padding-left: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
}
.attStatus{
    font-size: large;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.status{
    padding-right: 3vh ;
}
.GOOD{
    color: rgb(238, 55, 197);}
.OK{
    color: rgb(255, 175, 255);}
.BAD{
    color: rgb(106, 113, 224);}

.vBarChart{
    height: 18vw;
    width: 3vw;
}
.hBarChart{
    height: 3vw;
    width: 18vw;
}
.sRadialChart{
    height: 10vw;
    width: 10vw;
}
.full{
    width: 100%;
    height: 100%;
}
.hLine{
    height: 2px;
    width: 85%;
    background-color: rgba(194, 190, 195, 0.25);
}
.vLine{
    height: 95%;
    width: 2px;
    background-color: rgba(194, 190, 195, 0.25);
}
table{
    min-width: fit-content;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    border-spacing: 0;
    border: 1px solid rgba(187, 185, 188, 0.25);
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    border: 1px solid rgba(187, 185, 188, 0.25);
    border-collapse: collapse;
    padding: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: right;
}
th {
    font-size: large;
    padding: 2vh;
    border: 1px solid rgba(187, 185, 188, 0.25);
    border-collapse: collapse;
    background-color: rgb(30, 27, 30);
    position: sticky;
    top: 0;
}
tr:nth-child(even) {
    background-color: rgba(187, 185, 188, 0.05);
}
tr:hover {
    background-color: rgb(194, 190, 195, 0.25);
    border:2px solid rgb(106, 113, 224);
}
.header a
    {
        width: 8vw;
    }
#assHide{
    display: none;}
@media only screen and (max-width: 1024px)
{
    body {
        height: 89vh;
        width:95vw ;
        margin-left: 2vw;
    }
    .dash 
    {
        height: 68vh;
        margin-left: 6vh;
    }
    .navelement 
    {
        font-size: 20px;
    }
    
    .navbar
    {
        width: 90vw;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    .link
    {
        margin: 5px;
        font-size: 15.5px;
        padding: 5px;
        margin: 50px;
    }
    .header a
    {
        display: flex;
        color: white;
    }
    .navlinks {
        grid-template-columns: repeat(5, 10vw);
    }
    .active
    {
        color:blueviolet;
    }
    .active {
        color: rgb(86, 38, 132);
        width: 9.5vw;
    }
}

@media only screen and (max-width: 768px)
{
    body
{
    width:90vw ;
}
    label #btn {
        display: block;
        top: 27px;
    }
    .dash
    {
        margin-left: 30vw;
        margin-bottom: 16vh;
        grid-template-columns: repeat(3, 23.5vw);
        grid-gap: 2vw;
        grid-template-rows: repeat(3, 22.5vw);

    }
    .navbar
    {
        width: 110vw;
    }
    .navlinks
    {
        display: none;
        
    }
    .navlogo
    {
        margin-left: 35%;
        
    }
    .rspan2
    {
        grid-column: span 2;
        grid-row: span 1;
    }
    .cspan2
    {
        grid-column: span 3;  
    }
    .attendance{
        margin-left: 2vw;
        
    }
    .icon-bar
    {
        width: 250px;
        height: 100%;
    }
    
}
@media only screen and (max-width: 375px)
{
    body
    {
        width:100vw ;
        min-height: 100vh;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .navbar {
        width: 95vw;
        margin-left: 10px;
    }
    .icon-bar {
        left: -200px;
        width: 200px;
        height: 91%;
    }
    #check:checked ~ label #cancel {
        left: 160px;
    }
    label #cancel {
        top: 10px;
        font-size: 16px;
        padding: 5px 9px;
    }
    .navicons
    {
        width: 25vw;
        font-size: 20px;
    }
    .dash {
        width: 100vw;
        margin-left: 30vw;
        margin-bottom: 16vh;
        grid-template-columns: repeat(4, 22.5vw);
        grid-gap: 2vw;
        grid-template-rows: repeat(3, 45vw);
    }
    .more {
        font-size: 10px;
        text-decoration: none;
        color: magenta;
        display: flex;
    }
    .cspan3 {
        grid-column: span 4;
    }
    .cspan2 {
        grid-column: span 4;
    }
    .content {
        width: 91%;
        height: 88%;
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 320px)
{
    body
{
    width:100vw ;
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
    .navlogo
    {
        display: none;
    }
    .navbar {
        width: 120vw;
        margin-left: 10px;
    }
    .icon-bar {
        left: -200px;
        width: 180px;
        height: 50%;
    }

    label #btn {
        left: 20px;
        font-size: 20px;
      }
    #check:checked ~ label #cancel {
        left: 140px;
    }
    label #cancel {
        top: 9px;
        font-size: 16px;
        padding: 4px 9px;
    }
    .navicons
    {
        margin-left: 90vw;
        width: 35vw;
        font-size: 20px;
    }
    .dash {
        width: 100vw;
        margin-left: 30vw;
        margin-bottom: 16vh;
        grid-template-columns: repeat(4, 22.5vw);
        grid-gap: 2vw;
        grid-template-rows: repeat(3, 45vw);
    }
    .more {
        font-size: 10px;
        text-decoration: none;
        color: magenta;
        display: flex;
    }
    .cspan3 {
        grid-column: span 4;
    }
    .cspan2 {
        grid-column: span 4;
    }
    .content {
        width: 91%;
        height: 88%;
        display: flex;
        justify-content: space-between;
    }
    .icon-bar a {
        display: block;
        font-size: 19px;
    }
}