
        body
        {
            background-color: black;
            color: white;
            
        }
        table {
            width: 100%;
        }
        th, td {
            border: 1px solid gray;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: rgba(187, 185, 188, 0.25);
        }
        td{
            background-color: rgba(187, 185, 188, 0.05);
        }
        .table-container
        {
            min-height: 200vh;
        }
    