*{
    margin: 0;
    padding:0 ; 
    box-sizing: border-box;
    font-family:arial ;
 }

body
{
    width:100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    scrollbar-width: thin;
    scrollbar-color: rgb(106, 113, 224), rgba(187, 185, 188, 0.25);
}
::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
}
::-webkit-scrollbar-track {
    background: rgba(187, 185, 188, 0.25);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(187, 185, 188, 0.25);
    border-radius: 5px;
    border: 2px solid rgba(187, 185, 188, 0.25);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(106, 113, 224);
}
.hidden{
    display: none;
}
.navbar
{
    width: 96vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}
.navelement
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navlogo
{
    width: 20vw;
    letter-spacing: 10px;
    align-content: center;
    justify-content: flex-start;
}
.navlinks
{
    display: grid;
    grid-template-columns:repeat(3, 12vw);
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.navicons
{
    width: 20vw;
    justify-content: end;
    display: grid;
    grid-template-columns:50px 50px ;
}
.link{
    align-items: center;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.link a{
	color: #ffffff;
	text-decoration: none;
}
.active a
{
    color: rgb(106, 113, 224);
}
.dash
{
    width: 96vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 22.5vw);
    grid-gap: 2vw;
    grid-template-rows: repeat(2, 22.5vw);
}
.tile{
    padding: 1.5vw;
    border:1px solid rgb(36, 36, 36); 
    border-radius: 12px;
    background-color: rgb(30, 30, 30);
    box-shadow: 0.2vw 0.2vh 10px rgb(83, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    letter-spacing: 0.2vw;
}
.title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.cspan4
{
    grid-column: span 4;
}
.cspan3
{
    grid-column: span 3;
}
.rspan2
{
    grid-row: span 2;
}
.rspan3
{
    grid-row: span 3;
}
.cspan2
{
    grid-column: span 2;  
}
 .more
{
    text-decoration: none;
    color: magenta;
    display: flex;
}
.content{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}
.content2{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tableOptions {
    width: 95vw;
    padding: 1vh;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar {
    width: 60vw;
    height: 4vh;
    background: rgba(187, 185, 188, 0.05);
    border: 1px solid rgba(187, 185, 188, 0.25);
    color: aliceblue;
    border-radius: 5px;
    padding: 1vh;
    /* margin-right: 1vh; */
}
.searchBar:hover {
    border:1px solid rgb(106, 113, 224);
}
.controlBtn{
    width: 10vw;
    height: 4vh;
    background: rgba(187, 185, 188, 0.05);
    border: 1px solid rgba(187, 185, 188, 0.25);
    color: aliceblue;
    border-radius: 5px;
    padding: 1vh;
    margin-left: 1vh;
    cursor: pointer;
}
.controlBtn:hover{
    border:1px solid rgb(106, 113, 224);
}
.searchControl{
    /* display: none; */
}
.positiveControl:hover{
    border: 1px solid rgb(255, 175, 255);
}
.negativeControl:hover{
    border: 1px solid rgb(238, 55, 197);
}
.cellControl{
    width: 5vw;
    height: 4vh;
}

.tableContainer {
    max-height: 90vh;
    width: 95vw;
    overflow-x: auto;
    margin: 0 auto;
}
.table {
    width: 95vw;
    overflow-x: auto;
    margin: 0 auto;
}
table{
    min-width: fit-content;
    border-radius: 15px;
    overflow: hidden;
    border-spacing: 0;
    border: 1px solid rgba(187, 185, 188, 0.25);
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    border: 1px solid rgba(187, 185, 188, 0.25);
    border-collapse: collapse;
    padding: 3vh;
}
th {
    padding: 3vh;
    border: 1px solid rgba(187, 185, 188, 0.25);
    border-collapse: collapse;
    background-color: rgb(30, 27, 30);
    position: sticky;
    top: 0;
}
tr:nth-child(even) {
    background-color: rgba(187, 185, 188, 0.05);
}
tr:hover {
    background-color: rgb(194, 190, 195, 0.25);
    border:2px solid rgb(106, 113, 224);
}


.tableHead {
    width: 100%;
}
.tableBody {
    width: 100%;
}
.tableRow {
    height: 10vh;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}
.options{
    padding: 0;
    width: 14vw;
}




/*
tr {
    border-bottom: 1px solid #ddd;
  }
Css for adding bottom border to rows

tr:hover {background-color: #D6EEEE;}
CSS for hover effect */